Makefile*
.deps
*.dep
.libs
/build
ac*m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
*.la
*.lo
*.so
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules
run-tests.php
*~
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh
tmp-php.ini
examples/vendor/
generator/vendor/
generator/data/glrefs
.vscode/
*.cache
Vagrantfile
.vagrant
composer.lock
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
cmake_uninstall.cmake
/vendor/bin
/vendor/composer
/vendor/doctrine
/vendor/myclabs
/vendor/phpunit
/vendor/nikic
/vendor/phar-io
/vendor/sebastian
/vendor/theseer
vendor/glfw/install_manifest.txt
vendor/glfw/src/glfw3.pc
vendor/glfw/src/glfw3*.cmake
vendor/glfw/src/glfw_config.h
vendor/glfw/src/libglfw*.dylib
vendor/autoload.php
