site_name: PHP-GLFW
repo_url: https://github.com/mario-deluna/php-glfw
site_url: https://phpgl.net
site_description: "Create Games and Graphics with PHP and OpenGL: PHP-GLFW brings dynamic 2D and 3D application capabilities to PHP. It's cross-platform, fast, and includes a CG Math Library, Model Loading, Texture Loading, Native Buffer Support, and a Vector Graphics Rendering API."
use_directory_urls: false
nav:
  - Home: index.md
  - Gettings Started:
    - About this Guide: getting-started/getting-started-with-php-and-opengl.md
    - Installation:
      - Linux: getting-started/installation/install-linux.md
      - MacOS: getting-started/installation/install-macos.md
      - Windows: getting-started/installation/install-windows.md
      - IDE Setup: getting-started/installation/ide-setup.md
    - Creating a Window: getting-started/window-creation.md
    - Drawing a Triangle: getting-started/drawing_a_triangle.md
  - User Guide:
    - Vector Graphics:
      - Getting Started: user-guide/vector-graphics/creating_a_vgcontext.md
      - Fill & Stroke: user-guide/vector-graphics/fill-vs-stroke.md
      - Shapes: user-guide/vector-graphics/shapes.md
      - Colors: user-guide/vector-graphics/colors.md
    - Math & 3D Space: user-guide/math/
    - Offscreen & Headless Rendering: user-guide/offscreen/
    - Debugging: user-guide/debugging/
  - Classes / Functions & API : 'API/'
  - Examples: 'examples/'
  - VISU Framework →: https://visu.phpgl.net
plugins:
  - search
  - include_dir_to_nav
  
  # - tags
theme:
  name: material
  custom_dir: docs/overrides
  favicon: favicon.ico
  logo: ./logo.svg
  font:
    text: Source Sans Pro
  palette:
    scheme: default
    primary: black
  features:
    - navigation.tabs
    - content.tabs.link
extra_css:
  - stylesheets/extra.css
copyright: Copyright &copy; 2018 - 2024 Mario Döring / @see <a target="_blank" href="https://github.com/mario-deluna/php-glfw/blob/master/LICENSE">LICENSE</a>
extra:
  generator: false
markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - footnotes
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.extra
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

  - pymdownx.highlight:
      anchor_linenums: true
      extend_pygments_lang:
        - name: php
          lang: php
          options:
            startinline: true
  - toc:
      permalink: true
